

body {
    background: url("https://images.pexels.com/photos/984540/pexels-photo-984540.jpeg?cs=srgb&dl=background-concrete-dirty-984540.jpg&fm=jpg");
    color: white;
}


.flex-container {
    display: flex;
    width: 100%;
    background: rgb(226, 203, 172);
    
  }

  .wrapper {
    background-color: gray;
}

.container {
    display: flex-end;
    
}
fieldset{
    border: 1px solid rgb(243, 222, 37)
}
