

body {
    background: url("https://images.unsplash.com/photo-1493246507139-91e8fad9978e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&w=1000&q=80");
    color: white;
}


.flex-container {
    display: flex;
    width: 100%;
    background: rgb(226, 203, 172);
    
  }

  .wrapper {
    background-color: gray;
}

.container {
    display: flex-end;
    
}
fieldset{
    border: 1px solid rgb(243, 222, 37)
}
